# ==============================
# React Frontend
# ==============================

**/node_modules/
**/build/

# ==============================
# .NET Backend
# ==============================

**/bin/
**/obj/
**/.vs/

# ==============================
# Visual Studio
# ==============================

*.user
*.suo

# ==============================
# Environment / Secrets
# ==============================

.env
*.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# ==============================
# Logs
# ==============================

*.log

# ==============================
# Operating System
# ==============================

.DS_Store